#CrearTicket{
    background-color:#FAF6E9;
    border: 10px;
    margin-bottom: 50px;
}
.tablaTickets{
    margin-top: -10px;
    position: relative;
}
.divAdmin{
    background-color: #f4f6f9;
    align-items: center;
    border-radius: 10px;
    padding: 2em;
}
body{
  background: linear-gradient(to right, #aedded6d, #687e95d3);
  
}

.NavMenu{
    width: 60px;
    height: 700px;   
    padding: 2em;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 25px;
}
.selectAdmin{
    border-radius: 20px;
}
.divTicetksGenerado{
    background-color: rgba(208, 219, 219, 0.814);
    padding: 2em;
    border: 10px;
    border-radius: 15px;
}
.btnEstatus{
    float: right;
    margin-right: 20px;
}
