body {
  background: linear-gradient(to right, #aedded6d, #687e95d3);
  font-family: Arial, sans-serif; 
}

.NavMenu {
  width: 60px;
  height: 100%; 
  padding: 2em;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 25px;
  background-color: #343a40; 
}


#CrearTicket {
  background-color: #FAF6E9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tablaTickets {
  margin-top: -10px; 
  position: relative;
}


.card.ticket-card {
  background-color: #f4f6f9;
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.card.ticket-card .row.align-items-center {
  margin-bottom: 10px;
}

.btnEstatus {
  float: right;
  margin-right: 20px;
}

.btn-lg {
  font-size: 1.2rem; 
}

.table-responsive {
  max-height: 350px;
}

.table.table-hover.table-striped {
  background-color: #ffffff; 
}

.table.table-hover.table-striped th,
.table.table-hover.table-striped td {
  text-align: center; 
}
