<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registro de Usuarios</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"/>
  <link rel="stylesheet" href="static/css/usuarios.css">
</head>
<body>
  <div class="container">
    <!-- Card de Registro -->
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card card-custom">
          <div class="card-header">
            <h4>Registrar Usuario</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="txtUsuario">ID Empleado</label>
                <input type="text" class="form-control" id="txtUsuario" placeholder="Ingrese ID Empleado" />
              </div>
              <div class="form-group">
                <label for="txtPassword">Contraseña</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Ingrese Contraseña" />
              </div>
              <button type="submit" class="btn btn-elegante btn-block" id="btnReg">Registrar</button><br><br>
              <button type="button" class="btn btn-elegante btn-block" id="btnRegresar">Regresar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabla de Registros -->
    <div class="row mt-5">
      <div class="col-md-10 offset-md-1">
        <div class="table-responsive table-custom p-3">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID Usuario</th>
                <th>Contraseña</th>
              </tr>
            </thead>
            <tbody id="bodyUsuario">
              <tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="/static/js/UsuariosJS.js"></script>
</body>
</html>
